@font-face {
    font-family: "momo";
    src: url("MomoTrustDisplay-Regular.ttf");
}
*{
    font-family: momo;
}
body{
    margin: 0;
}
header{
    background-color: #B79FAD;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 1%;
}
a:focus{
    outline: none;
}
main{
    background-color: #242323;
    height: 85vh;
    width: 100%;
}
#lewy{
    height: 70vh;
    width: 70%;
    float: left;
    background-color: #C33C54;
    margin-left: 5%;
    text-align: center;
}
#prawy{
    height: 70vh;
    width: 20%;
    float: left;
    background-color: #C33C54;
    margin-left: 1%;
}
#lewy, #prawy{
    margin-top: 7.5vh;
}
h2{
    text-align: center;
    color: white;
    font-size: 1.9em;
    width: 20%;
    float: left;

}

#klik{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 40%;
    top: 50%;
    background: none;
    border: 4px solid #242323 ;
    border-radius: 20px;
    color: white;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 1.8em;

}

footer{
    background-color: #B79FAD;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    float: right;
    height: 85vh;
}
nav button{
    height:10vh;
    
}
ol{
    color: white;
}