@font-face {
    font-family: "momo";
    src: url("MomoTrustDisplay-Regular.ttf");
}
*{
    font-family: momo;
}
body{
    margin: 0;
}
header{
    background-color: red;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}
main{
    background-color: aqua;
    height: 85vh;
    width: 100%;
}
#lewy{
    height: 70vh;
    width: 70%;
    float: left;
    background-color: blueviolet;
    margin-left: 5%;
}
#prawy{
    height: 70vh;
    width: 20%;
    float: left;
    background-color: blueviolet;
    margin-left: 1%;
}
#lewy, #prawy{
    margin-top: 7.5vh;
}
h2{
    text-align: center;
    color: white;
    font-size: 1.9em;
}

#klik{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 40%;
    top: 50%;
    background: none;
    border: 2px solid deepskyblue ;
    border-radius: 10px;
    color: white;
    padding: 1.5% 2% 1.5% 2%;
    background-color: chartreuse;
    font-size: 1.8em;

}

footer{
    background-color: gray;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}